@charset "utf-8";
@font-face {
    font-family: Cycle;
    src: url(../font/spincycle_ot.otf);
}
* {
    box-sizing: border-box;
}
body {
    font-family: Cycle, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 18px;
}
h1,h2,h3,h4,h5 {
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #fff;
}
.full {
    color: #fff;
}
.section {
    text-align: center;
    position: relative;
    overflow-y: hidden;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #777;
    color: #fff;
}
footer small {
    line-height: 50px;
}
.title-content {
    position: absolute;
    top: 40%;
    right: 10%;
    height: 10vh;
}
.title-content h1 {
    font-family: Cycle;
    font-size: 15vw;
    line-height: 0;
    display: inline;
}

h1 .piece1, .section:last-child .piece1 { color: red; }
h1 .piece2, .section:last-child .piece2 { color: orange; }
h1 .piece3, .section:last-child .piece3 { color: yellow; }
h1 .piece4, .section:last-child .piece4 { color: green; }
h1 .piece5, .section:last-child .piece5 { color: lightblue; }
h1 .piece6, .section:last-child .piece6 { color: mediumblue; }
h1 .piece7, .section:last-child .piece7 { color: purple; }

.menu-bar {
    margin: 20px 0;
    position: absolute;
    right: 0;
}
.menu-bar .section-cell {
    font-family: Cycle;
    font-size: 4vw;
    padding-left: 10px;
    display: block;
}
.menu-bar .section-cell:hover {
    transition: all ease 0.3s;
    color: blue;
}
.menu-bar .section-cell::before {
    content: "";
    background: #fff;
    color: #000;
    height: 5vw;
    text-align: right !important;
    font-size: 3vw;
    line-height: 5.5vw;
    padding-right: 2vw;
    width: 100vw;
    border-radius: 20vw;
    position: absolute;
    left: -200vw;
}
.menu-bar .section-cell:nth-child(1)::before {
    content: "FOR 'RAINBOW'";
}
.menu-bar .section-cell:nth-child(2)::before {
    content: "INCLUDED COLORS";
}
.menu-bar .section-cell:nth-child(3)::before {
    content: "RAINBOW ON THE WEB";
}
.menu-bar .section-cell:hover::before {
    transition: all ease 0.3s;
    left: -100vw;
}
.content {
    text-align: left;
    background: rgba(0,0,0,0.3);
    border-radius: 100%;
    height: 60vh;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 4vw;
    padding: 0 3vw;
}
.content h2 {
    font-size: 5vw;
    text-shadow: 2px 2px 2px #000,
    -2px 2px 2px #000,
    2px -2px 2px #000,
    -2px -2px 2px #000;
}
.content p {
    font-size: 2.5vw;
    line-height: 3vw;
    text-shadow: 1px 1px 1px #000,
    -1px 1px 1px #000,
    1px -1px 1px #000,
    -1px -1px 1px #000;
    overflow-y: auto;
    margin: 0;
    padding: 4px;
    max-height: 50vh;
}
.content p:first-letter {
    font-size: 4vw;
}
//.section:nth-child(2) .content p:first-letter { color: red; }
//.section:nth-child(3) .content p:first-letter { color: orange; }
//.section:nth-child(4) .content p:first-letter { color: yellow; }
//.section:nth-child(5) .content p:first-letter { color: green; }
//.section:nth-child(6) .content p:first-letter { color: lightblue; }
//.section:nth-child(7) .content p:first-letter { color: mediumblue; }
//.section:nth-child(8) .content p:first-letter { color: purple; }

.section:nth-child(2) .content p {
    text-shadow: 3px 3px 3px red,
    -3px 3px 3px red,
    3px -3px 3px red,
    -3px -3px 3px red;
}
.section:nth-child(3) .content p {
    text-shadow: 3px 3px 3px orange,
    -3px 3px 3px orange,
    3px -3px 3px orange,
    -3px -3px 3px orange;
}
.section:nth-child(4) .content p {
    text-shadow: 3px 3px 3px yellow,
    -3px 3px 3px yellow,
    3px -3px 3px yellow,
    -3px -3px 3px yellow;
}
.section:nth-child(5) .content p {
    text-shadow: 3px 3px 3px green,
    -3px 3px 3px green,
    3px -3px 3px green,
    -3px -3px 3px green;
}
.section:nth-child(6) .content p {
    text-shadow: 3px 3px 3px lightblue,
    -3px 3px 3px lightblue,
    3px -3px 3px lightblue,
    -3px -3px 3px lightblue;
}
.section:nth-child(7) .content p {
    text-shadow: 3px 3px 3px mediumblue,
    -3px 3px 3px mediumblue,
    3px -3px 3px mediumblue,
    -3px -3px 3px mediumblue;
}
.section:nth-child(8) .content p {
    text-shadow: 3px 3px 3px purple,
    -3px 3px 3px purple,
    3px -3px 3px purple,
    -3px -3px 3px purple;
}

.section:last-child .content h2 {
    text-shadow: 2px 2px 2px #fff,
    -2px 2px 2px #fff,
    2px -2px 2px #fff,
    -2px -2px 2px #fff;
}

.section:last-child .content p {
    height: 40vh;
    overflow-y: auto;
}